{% extends "base.html" %}

{% block title %}Новое событие{% endblock %}

{% block content %}
  <section class="phone-panel form-panel">
    <h1>Новое событие</h1>
    <p class="form-subtitle">{{ plant.name }}</p>

    <form method="post" class="app-form">
      {% csrf_token %}
      {{ form.as_div }}
      <button class="primary-button" type="submit">Сохранить</button>
    </form>

    <a class="secondary-link" href="{% url 'garden:plant_detail' plant.pk %}">Назад</a>
  </section>
{% endblock %}
